{% extends 'base.html.twig' %}
{% block stylesheets%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/jobeet/css/jobs.css') }}">
{% endblock %}

{% block content %}
    <div id="jobs">
        {% for category in categories %}
            <div>
                <div class="category">
                    <div class="feed">
                        <a href="">Feed</a>
                    </div>
                    <h1><a href=" {{ path('category_show', {'slug': category.getSlug }) }}">{{ category.name }}</a></h1>
                </div>

                {{ include('::job/_list.html.twig', { 'jobs': category.activejobs }) }}

                {% if category.morejobs %}
                    {# and 22 more... #}
                    <div class="more_jobs">
                        and
                        <a href="{{ path('category_show', { 'slug': category.getSlug() }) }}">
                            {{ category.morejobs }}
                        </a>
                        more...
                    </div> <!--more_job -->
                {% endif %}
            </div>
        {% endfor %}
    </div> <!--jobs -->
{% endblock %}
