<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>
        {% block title %}
            Jobeet - Your best job board
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/jobeet/css/main.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    {% endblock %}
    {% block javascripts %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/jobeet/images/favicon.ico') }}" />
</head>
<body>
<div id="container">
    <div id="header">
        <div class="content">
            <h1><a href="{{ path('job_homepage') }}">
                    <!-- <img src="{# {{ asset('bundles/jobeet/images/logo.jpg') }} #}" alt="Jobeet Job Board" /> -->
                </a></h1>

            <div id="sub_header">
                <div class="post">
                    <h2>Ask for people</h2>
                    <div>
                        <a href="{{ path('job_new') }}">Post a Job</a>
                    </div>
                </div>

                <div class="search">
                    <form action="" method="get">
                        <input type="text" name="keywords" id="search_keywords" />
                        <input type="submit" value="search" />
                        <div class="help">
                            Enter some keywords (city, country, position, ...)
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash_notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash_error">
                {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div id="footer">
        <div class="content">
                   <span class="symfony">
                       <img src="{# { asset('bundles/jobeet/images/jobeet-mini.png') }} #}" />
                           powered by <a href="http://www.symfony.com/">
                           <img src="{# { asset('bundles/jobeet/images/symfony.gif') } #}" alt="symfony framework" />
                       </a>
                   </span>
            <ul>
                <li><a href="">About Jobeet</a></li>
                <li class="feed"><a href="">Full feed</a></li>
                <li><a href="">Jobeet API</a></li>
                <li class="last"><a href="">Affiliates</a></li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>