{% extends 'base.html.twig' %}

{% block body %}
    <h1>Affiliate</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affiliate.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ affiliate.url }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ affiliate.email }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ affiliate.token }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{% if entity.isActive %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if affiliate.createdAt %}{{ affiliate.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if affiliate.updatedAt %}{{ affiliate.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('affiliate_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('affiliate_edit', { 'id': affiliate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
